<!-- index.hbs -->
<h1>JoSt Movie Theater</h1>

{{!-- the navigation bar --}}
<div style="text-align: center;">
    [ <a href="Movies.html">Movies</a> | <a href="Genres.html">Genres</a> | <a href="Ratings.html">Ratings</a> | <a href="Tickets.html">Tickets</a> | <a href="Ticket_Types.html">Ticket Types</a> | 
    <a href="Shows.html">Shows</a> | <a href="Items.html">Items</a> | <a href="Concessions.html">Concessions</a> | <a href="Employees.html">Employees</a> ]    <table border="1" cellpadding="5" style="margin-left: auto; margin-right: auto;" class="table">
    </div>