<head>
    <script language="JavaScript">
      function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'browse'){
          document.getElementById('browse').style.display = 'block';
          document.getElementById('insertRating').style.display = 'none';
        }
        else if (dowhat == 'insertShow'){
          document.getElementById('browse').style.display = 'none';
          document.getElementById('insertRating').style.display = 'block';
        }
        else if (dowhat == 'all'){
          document.getElementById('browse').style.display = 'block';
          document.getElementById('insertRating').style.display = 'block';
        }
        else { //by default display browse
          document.getElementById('browse').style.display = 'block';
          document.getElementById('insertRating').style.display = 'none';
        }
      }
      function newRating() { showform('insertRating'); }
      function browseRatings() { showform ('browse'); }
      function showAll() { showform ('all'); }
  </script>
    <title>Ratings</title>
</head>

<body onload="browseRatings()">
  <h1 style="text-align: center;" class="title">Ratings</h1>
  <ul class="nav_links">
    <li><a href="Movies">Movies</a></li>
    <li><a href="Genres">Genres</a></li>
    <li><a href="Ratings">Ratings</a></li>
    <li><a href="Tickets">Tickets</a></li>
    <li><a href="Ticket_Types">Ticket Types</a></li>
    <li><a href="Shows">Shows</a></li>
    <li><a href="Items">Items</a></li>
    <li><a href="Concessions">Concessions</a></li>
    <li><a href="Employees">Employees</a></li>
  </ul>
 <div id="browse">
 <!--Ratings-->
  <div id="browse">
   {{!-- Create a table --}}
    <table id="ratings-table" border="1" cellpadding="5" style="margin-left: auto; margin-right: auto;" class="table">
        <caption style="text-align:center"><strong>Ratings</strong></caption>
        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                
                {{#each data.[0]}}
                <th class="pk">
                    {{@key}}
                </th>
                {{/each}}
                <th><a href="#" onClick="newRatings()">Add +</a></th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the genre id and the genre name --}}
            {{#each data}}
            <tr>
                <td>{{this.rating_id}}</td>
                <td>{{this.rating_description}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
  </div>
  </div>
  <p style="text-align: center;"><a href="#" onClick="showAll()">Display all forms</a> | <a href="#" onClick="showform()">Hide all forms</a> </p>

  <!--Insert Ratings-->
  <div id="insertRating">
    <form method="POST" id="addRatings">
        <legend><strong>Add Ratings</strong></legend>
          <fieldset class="fields">
            <label for "input-rating-id"> rating id </label>
            <input type="number" id="input-rating-id" name="input-rating-id">

            <label for="input-rating-description" > rating description </label>
            <input type="text" id="input-rating-description" name="input-rating-description"> 
      </fieldset>
          <input class="btn" type="submit" id="addRatings">
          <input class="btn" type="button" value="cancel" onClick="browseRatings()">
  </form> 
</div>
</body>