<div class="project_intro">
    <h1>CS 340 Project Step 5 Final</h1>
    <h3>Group 24</h3>
</div>
<ul class="nav_links">
    <li><a href="Movies">Movies</a></li>
    <li><a href="Genres">Genres</a></li>
    <li><a href="Ratings">Ratings</a></li>
    <li><a href="Tickets">Tickets</a></li>
    <li><a href="Ticket_Types">Ticket Types</a></li>
    <li><a href="Shows">Shows</a></li>
    <li><a href="Items">Items</a></li>
    <li><a href="Concessions">Concessions</a></li>
    <li><a href="Employees">Employees</a></li>
</ul>