<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script language="JavaScript">
      function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'browse'){
          document.getElementById('browse').style.display = 'block';
          document.getElementById('insertTicketTypes').style.display = 'none';
        }
        else if (dowhat == 'insertTicketTypes'){
          document.getElementById('browse').style.display = 'none';
          document.getElementById('insertTicketTypes').style.display = 'block';
        }
        else if (dowhat == 'all'){
          document.getElementById('browse').style.display = 'block';
          document.getElementById('insertTicketTypes').style.display = 'block';
        }
        else { //by default display browse
          document.getElementById('browse').style.display = 'block';
          document.getElementById('insertTicketTypes').style.display = 'none';
        }
      }
      function newTicketType() { showform('insertTicketTypes'); }
      function browseTicketTypes() { showform ('browse'); }
      function showAll() { showform ('all'); }
  </script>
    <title>Ticket_Types</title>
</head>

<body onload="browseTicketTypes()">
  <!--Shows-->
  <h1 style="text-align: center;" class="title">Ticket Types</h1>
  <div style="text-align: center;">
  [ <a href="Movies">Movies</a> | <a href="Genres">Genres</a> | <a href="Ratings">Ratings</a> | <a href="Tickets">Tickets</a> | <a href="Ticket_Types">Ticket Types</a> | 
    <a href="Shows">Shows</a> | <a href="Items">Items</a> | <a href="Concessions">Concessions</a> | <a href="Employees">Employees</a> ]
</div>
<p>&nbsp;</p>
  <div id="browse">

  {{!-- Create a table --}}
    <table id="ticket-types-table" border="1" cellpadding="5" style="margin-left: auto; margin-right: auto;" class="table">
        <caption style="text-align:center"><strong>Ticket Types</strong></caption>
        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
  
                {{#each data.[0]}}
                <th class="pk">
                    {{@key}}
                </th>
                {{/each}}
                <th><a href="#" onClick="newTicketType()">Add +</a></th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the genre id and the genre name --}}
            {{#each data}}
            <tr>
                <td>{{this.ticket_type_id}}</td>
                <td>{{this.ticket_type_name}}</td>
                <td>{{this.ticket_price}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
  </div>
  <p style="text-align: center;"><a href="#" onClick="showAll()">Display all forms</a> | <a href="#" onClick="showform()">Hide all forms</a> </p>

  <!--Insert Ticket Types-->
  <div id="insertTicketTypes">
    <form method="POST" id="addTicketTypes">
        <legend><strong>Add Ticket Types</strong></legend>
          <fieldset class="fields">
            <label for="input-type-id">ticket type id</label>
            <input type="number" id="input-type-id" name="input-type-id">

            <label for="input-type-name">ticket type name</label> 
            <input type="text" id="input-type-name" name="input-type-name"> 

            <label for="input-ticket-price">ticket price</label>
            <input type="number" inputmode="decimal" min="0" step=".01" id="input-ticket-price" name="input-ticket-price">
      </fieldset>
          <input class="btn" type="submit" id="addTicketTypes" value="Add Ticket Types">
          <input class="btn" type="button" value="cancel" onClick="browseTicketTypes()">
   </form> 
  </div>
</body>